.container-div iframe {
  display:block; /* none for hide ccp */
}

.green {
 background-color: #72d617;
}

.black div {
  background-color: #121212;
 }

.red {
  background-color: #eb2f96;
}

.blue {
  background-color: #0093ff;
}
.gray {
  background-color: #c4c4c4;
}
/*
fff0f6 whitepink
72d617 green
eb2f96 red
0093ff blue
c4c4c4 gray
*/

.bg-frame div {
  background-color: #fff0f6;
}

